@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

:root {
--pinks1 : hsl(340,64%,100%);
--pinks2 : hsl(340,68%,95%);
--pinks3 : hsl(340,72%,90%);
--pinks4 : hsl(340,76%,85%);
--pinks5 : hsl(340,80%,80%);
--pinks6 : hsl(340,84%,75%);
--pinks7 : hsl(340,88%,70%);
--pinks8 : hsl(340,92%,65%);
--pinks9 : hsl(340,96%,60%);
--pinks10 : hsl(340,100%,55%);

--reds1 : #8c1e2d;
--reds2 : #8a1b2a;
--reds3 : #881727;
--reds4 : #841020;
--reds5 : #820d1d;
--reds6 : #810b1b;
--reds7 : #800919;
--reds8 : #7e0516;
--reds9 : #7b0112;

--rose-pink1 :hsl(358,08%,100%); 
--rose-pink2 :hsl(358,12%,95%);
--rose-pink3 :hsl(358,16%,90%);
--rose-pink4 :hsl(358,20%,85%); 
--rose-pink5 :hsl(358,24%,80%);
--rose-pink6 :hsl(358,28%,75%);
--rose-pink7 :hsl(358,32%,70%);
--rose-pink8 :hsl(358,36%,65%);

--background-black : radial-gradient(circle, #010101, #010101, #010100, #000000, #000000, #000000, #010001, #010001, #020002, #030102, #050102, #060102); 
--background-image : radial-gradient(circle, #010101, #010101, #010100, #000000, #000000, #000000, #010001, #010001, #020002, #030102, #050102, #060102), url(../../images/heroImage.jpg);
--background-image2: radial-gradient(circle, #010101, #020103, #030104, #050105, #080105, #090105, #0b0104, #0c0104, #0c0104, #0c0104, #0c0104, #0c0104), url(../../images/heroImage.jpg); 
--background-image3: radial-gradient(circle, #010101, #030105, #060108, #0a0109, #0f010a, #100109, #120008, #130007, #110006, #100005, #0e0105, #0c0104), url(../../images/heroImage.jpg);
margin:0 ;
padding:0 ;
box-sizing: border-box;
font-size: 10px ;
}


body {
margin: 0;
padding: 0 ;
overflow-x:hidden ;
background-image: var(--background-black);
}

#message {
position:fixed ;
top:0px ;
left:0px ;
margin-left: 10vw ;
/* padding: 50px 0 ; */
width: 50rem;
height:100vh ;
/* background-color: var(--pinks3); */
/* background-color: var(--rose-pink2); */
font-family: 'Gloria Hallelujah', cursive;
display: flex ;
align-items: center ;
justify-content: center ;
}

#header1 {
  color: var(--pinks9);     
  font-size: 3.5rem;
}
#header2 {
  color: var(--pinks8);     
  font-size: 3.0rem;
}
#header3 {
  color: var(--pinks7);     
  font-size: 2.5rem;
}
#header4 {
  color: var(--pinks6);     
  font-size: 2.0rem;
  margin-bottom: 1rem ;
}
.headings {
  color: var(--pinks8);
  padding: 0px ;
  margin: -2.0rem 0 ;
}
#typography{
  margin: 0;
  padding: 0;
} 

#typography p {
  margin: 0 ;
  padding: 0;
  color: var(--reds6)
}
.text {
  margin: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}
#hearts-svg{
  position: fixed ;
  top:35rem;
  left: 20vw;
  z-index : 105 ;
  /* background-color: white ; */
}
#hero 
{
  position: fixed ;
  top: 0px ;
  right: 0px ;
  /* overflow:hidden ; */
  margin:0 ;
  padding:0 ;
  margin-right: 10vw ;
  width: 50rem;
  height:100vh ;
  /* background-color: red ; */
  background-image: var(--background-image3);
  background-blend-mode: soft-light; 
  backgroud-size: contain ;
} 
.sm2 {
  fill: var(--reds8);
 animation: sm2h 5s infinite alternate;
}
.sm3 {
  fill: var(--rose-pink6); 
 animation: sm3h 5s infinite alternate;
}
.sm {
  fill: var(--rose-pink);
 animation: smh 5s infinite alternate;
}

.md2 {
  fill: var(--pinks10);
 animation: md2h 5s infinite alternate;
}
.md3 {
  fill: var(--pinks2);
 animation: md3h 5s infinite alternate;
}
.md {
  fill: var(--pinks4);
 animation: mdh 5s infinite alternate;
}
.lg {
 fill: var(--pinks8)  ; 
 animation: lgh 5s infinite alternate;
}
.lg2  {
 fill: var(--reds7); 
 animation: lg2h 5s infinite alternate;
}
/* #white { */
/*   width: 200px; */
/*   height: 200px; */
/*   background-color: white */
/* } */
/**/
/* #pink{ */
/*   width: 200px; */
/*   height: 200px; */
/*   background-color: var(--pinks1) */
/* } */

@keyframes lg2h {
100% {
 fill: var(--pinks8); 
}
}
@keyframes lgh {
100% {
 fill: var(--reds9); 
}
}
@keyframes smh {
40% {
 fill: var(--reds8) 
}
100% {
 fill: var(--rose-pink6); 
}
}
@keyframes sm2h {
40% {
 fill: var(--rose-pink)
}
100% {
 fill: var(--rose-pink7); 
}
}
@keyframes mdh {
40% {
  fill: var(--pinks2)
}
100% {
 fill: var(--pinks10); 
}
}
@keyframes md2h {
40% {
  fill: var(--pinks2)
}
100% {
 fill: var(--pinks4); 
}
}
@keyframes md3h {
40% {
  fill: var(--pinks10)
}
100% {
 fill: var(--pinks4); 
}
}
@keyframes sm3h {
40% {
  fill:var(--rose-pink6)
}
100% {
 fill: var(--reds8); 
}
}
